#drag-items {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 40px;
    text-align: center;
    margin-top: 8px;
    cursor: pointer;
}

#drag-items label {
    margin-top: 10px;
}